<h1>FEED</h1>

<%= form_tag museums_path, method: :get do %>
  <%= label_tag :location %>
  <%= text_field_tag :location, @params["location"], placeholder: 10025 %>
  <%= label_tag :kind_of_museum %>
  <%= text_field_tag :kind_of_museum, @params["kind_of_museum"], placeholder: "Art" %>
  <%= label_tag :search %>
  <%= text_field_tag :search, @params[:search], placeholder: "Museum Of Modern Art"%>
  <%= select_tag :sort, raw("
    <option value='alphabetical'>Alphabetical</option>
    <option value='number_reviews'>Most Reviews</option>
    <option value='average_review'>Average Review</option>
    <option value='recommended'>Recommended</option>
  ") %>
  <%= submit_tag "Search!" %>
<% end %>
<% if @params.entries.any? %>
  <p>Showing results for:</p>
  <ul><% @params.entries.filter{|param| !param[1].blank?}.each do |param| %>
    <li><%= "#{param[0]}: #{param[1]}"  %></li>
  <% end %>
  </ul>
<% end %>

<div class="cards">
<% @museums.each do |museum| %>
  <div class="card">
    <h3><%= link_to museum.name, museum %></h3>
    <%= link_to(image_tag(museum.image_url), museum) %>
    <p><%= museum.kind_of_museum %></p>
  </div>
<% end %>
